<%= form_with(model: @post, local: true) do |f| %>
    <%= render 'shared/error_messages', object: f.object %>
    <div class="field">
      
        <div class="select_box">
            <%= f.label :machine %>
            <%= f.collection_select :machine, Machine.all, :id, :name %>
        </div>
        <div class="select_box">
            <%= f.label :classification %>
            <%= f.select :classification_id, {"pachinko" => 1, "slot" => 2},
                                             include_blank: "選択してください" %>
        </div>
        <div class="select_box">
            <%= f.label :kind %>
            <%= f.select :kind_id, {"AT" => 1, "ART" => 2, "A" => 3, 
                                    "ST" => 4, "kakuhen" => 5, "hanemono" => 6 },
                                    include_blank: "選択してください" %>
        </div>

        <div class="select_box">
            <%= f.label :machine %>
            <%= f.select :machine_id, {"test_machine" => 1, "バジリスク" => 2, "聖闘士星矢" => 3, 
                                    "北斗" => 4, "牙狼" => 5, "エヴァ" => 6 },
                                    include_blank: "選択してください" %>
        </div>

        <div class="acquired">
            <%= fields_for @acquired do |a| %>
                <%= a.label :acquired %>
                <%= a.number_field :number, placeholder: "Compose number" %>
            <% end %>
        </div>

        <div class="content">
            <%= f.label :content %>
            <%= f.text_area :content, placeholder: "Compose new post..." %>
        </div>

    </div>
    <%= f.submit "Post", class: "btn btn-primary" %>
        <%# <span class="image">
        <%= f.file_field :image, accept:  "image/jpeg,image/gif,image/png" %>
        </span>
<% end %>

<script type="text/javascript">
  $("#micropost_image").bind("change", function() {
    var size_in_megabytes = this.files[0].size/1024/1024;
    if (size_in_megabytes > 5) {
      alert("Maximum file size is 5MB. Please choose a smaller file.");
      $("#micropost_image").val("");
    }
  });
</script>